language: php
php:
    - 7.0
    - 7.1
    - 7.2
    - 7.3
    - nightly
    - hhvm

matrix:
    allow_failures:
        - php: hhvm
        - php: nightly

cache:
    directories:
        - $HOME/.composer/cache

install:
    - composer install
    - composer require php-coveralls/php-coveralls '^2.0' --dev
    - composer run-script post-create-project-cmd

script:
    - php vendor/bin/phpunit --coverage-clover ./tests/logs/clover.xml

after_script:
    - php vendor/bin/php-coveralls -v

notifications:
    email: false
