language: php
php:
    - 7.0
    - 7.1
    - 7.2
    - 7.3
    - nightly
    - hhvm

matrix:
    allow_failures:
        - php: hhvm
        - php: nightly

cache:
    directories:
        - $HOME/.composer/cache

install:
    - composer install
    - composer run-script post-create-project-cmd
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter

before_script:
    - ./cc-test-reporter before-build

script:
    - php vendor/bin/phpunit --coverage-clover ./tests/logs/clover.xml

after_script:
    - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

notifications:
    email: false
